.container{
    height: 400px;
    background-color: white;
    width: 400px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 130px;
}
#input{
border: none;
border-bottom: 2px solid grey;
}
#input1{
    border: none;
    border-bottom: 2px solid grey;
    }
    .innerlebin input{
        margin: auto;
        padding: 10px;
        font-size: 20px;
        margin-top: 20px;
    }
    .innerlebin input:hover{
        outline: none;
    }
    button{
        border-radius: 10px;
        font-size: 18px;
        padding: 5px;
        text-align: center;
        margin-top: 100px;
        width: 259px;
        border: none;
        background-color: cadetblue;
        color: white;
    }
    body {
        background-image: url('/Verificient1_Final/images/Orca.jpg');
    }